/* styles.css */

/* Add styles here to customize the appearance of your app */

.card {
    padding: 1rem 1.5rem;
    border-radius: 7px;
    box-shadow: rgb(45 46 46 / 35%) 0px 4px 32px 0px, rgb(45 46 46 / 8%) 0px 4px 16px 0px, rgb(45 46 46 / 10%) 0px 0px 4px 0px;
}